
<table>
	<tr><td>420-121</td><td>Computer Fundamentals</td><td>Christine Gerard</td></tr>
	<tr><td>420-122</td><td>Introduction to Programming</td><td>Samia Ramadan</td></tr>
	<tr><td>420-123</td><td>Web Interface Design</td><td>Jennifer Liutec</td></tr>
	<tr><td>420-221</td><td>Programming with Java</td><td>Samia Ramadan</td></tr>
	<tr><td>420-222</td><td>Web Site Planning and Implementation</td><td>Jennifer Liutec</td></tr>
	<tr><td>420-223</td><td>Operating Systems and Scripting</td><td>Robert Bierman</td></tr>
	<tr><td>420-224</td><td>Configuring and Maintaining Computers</td><td>Christine Gerard</td></tr>
	<tr><td>360-931</td><td>QM for Computer Science</td><td>Brendan Wood</td></tr>	
</table>
