.col1 {
    background-color: salmon;
    margin-top: 20px;
}

.col2 {
    background-color: orange;
    margin-top: 20px;
}

.col3 {
    background-color: blue;
    color: white;
    margin-top: 20px;
    word-wrap: break-word;
}