header {
    background-color: #0066ff;
    opacity: 0.9;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px black;
}

#title {
    color: #cc0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    letter-spacing: 10px;
    font-size: 46px;
    text-shadow: 2px 2px white;
}

.cont {
    text-align: center;
    margin-top: 20px;
}

h2 {
    color: #0066ff;
}

#rosterSelect {
    width: 100%;
    height: 50px;
    background-color: #0066ff;
    color: white;
    font-size: 24px;
    font-weight: 700;
    border: none;
}

.roster-container {
    text-align: center;
    width: 100%;
}

h3 {
    color: #cc0000;
}

ol {
    display: inline-table;
}

li {
    margin-top: 5px;
    margin: 10px 50px;
    text-align: left;
}