<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item year"></li>
                    <li class="list-group-item make"></li>
                    <li class="list-group-item model"></li>
                    <li class="list-group-item mileage"></li>
                </ul>
                <div class="card-footer text-center">
                    <h6 class="text-muted price"></h6>
                    <button class="btn btn-primary" type="button">View More</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item year"></li>
                    <li class="list-group-item make"></li>
                    <li class="list-group-item model"></li>
                    <li class="list-group-item mileage"></li>
                </ul>
                <div class="card-footer text-center">
                    <h6 class="text-muted price"></h6>
                    <button class="btn btn-primary" type="button">View More</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item year"></li>
                    <li class="list-group-item make"></li>
                    <li class="list-group-item model"></li>
                    <li class="list-group-item mileage"></li>
                </ul>
                <div class="card-footer text-center">
                    <h6 class="text-muted price"></h6>
                    <button class="btn btn-primary" type="button">View More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item year"></li>
                    <li class="list-group-item make"></li>
                    <li class="list-group-item model"></li>
                    <li class="list-group-item mileage"></li>
                </ul>
                <div class="card-footer text-center">
                    <h6 class="text-muted price"></h6>
                    <button class="btn btn-primary" type="button">View More</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item year"></li>
                    <li class="list-group-item make"></li>
                    <li class="list-group-item model"></li>
                    <li class="list-group-item mileage"></li>
                </ul>
                <div class="card-footer text-center">
                    <h6 class="text-muted price"></h6>
                    <button class="btn btn-primary" type="button">View More</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4 d-flex align-items-stretch">
            <div class="card" style="width: 18rem;">
                <img alt="Card image cap" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item year"></li>
                    <li class="list-group-item make"></li>
                    <li class="list-group-item model"></li>
                    <li class="list-group-item mileage"></li>
                </ul>
                <div class="card-footer text-center">
                    <h6 class="text-muted price"></h6>
                    <button class="btn btn-primary" type="button">View More</button>
                </div>
            </div>
        </div>
    </div>
</div>