<footer class="page-footer mt-5">
        <div class="container-fluid text-center text-md-left bg-dark text-light">
            <div class="row">
                <div class="col mt-2">
                    <h5 class="text-uppercase">Automobilia Esotica</h5>
                    <p>Always providing an elusive customer service and platform for new and used luxury, sports, and supercar enthusiasts and high-profile buyers.</p>
                </div>
                <div class="col mt-2">
                    <h5 class="text-uppercase">Quick Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="home.html">Home</a></li>
                        <li><a href="showroom.html">Showroom</a></li>
                        <li><a href="financing.html">Financing</a></li>
                        <li><a href="about.html">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright text-center py-3 text-light" style="background-color: black;">&copy; 2019 Automobilia Esotica: 
            <a href="home.html">AutomobiliaEsotica.com</a>
        </div>
    </footer>