<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
    <a href="home.html" class="navbar-brand">Automobilia Esotica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarDropdown">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="home.html" class="nav-link">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a href="showroom.html" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Showroom
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a href="sedans.html" class="dropdown-item">Sedans</a>
                    <a href="sports.html" class="dropdown-item">Sports</a>
                    <a href="supercars.html" class="dropdown-item">Supercars</a>
                </div>
            </li>
            <li class="nav-item">
                <a href="financing.html" class="nav-link">Financing</a>
            </li>
            <li class="nav-item">
                <a href="about.html" class="nav-link">About Us</a>
            </li>
        </ul>
    </div>
</nav>