<!-- <div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-4">
            <button class="btn btn-primary form-control mb-3" type="button" id="sedansBtn" onclick="location.href='/sedans.html'">View Sedans</button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary form-control mb-3" type="button" id="sportsBtn" onclick="location.href='/sports.html'">View Sports</button>
        </div>
        <div class="col-lg-4">
            <button class="btn btn-primary form-control mb-3" type="button" id="supercarsBtn" onclick="location.href='/supercars.html'">View Supercars</button>
        </div>
    </div>
</div> -->

<div class="container-fluid mt-5">
    <button class="form-control btn btn-primary mt-5" type="button" id="showroomBtn" onclick="location.href='/showroom.html'">Go To Showroom Selection</button>
</div>