#gourmetChefLogo {
    width: 15%;
}

header {
    text-align: center;
}

#gourmetChefText {
    color: #01ACCF;
}

h4 {
    color: #01ACCF;
}

.cont {
    margin-top: 20px;
    text-align: center;
}

.party {
    cursor: pointer;
}

.party:hover {
    color: #F8922C;
}

.images-container {
    background-color: #01ACCF;
}

.main-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.row {
    margin: 0;
}

.col {
    margin: 0;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: table;
}

#contactUs {
    text-align: left;
    margin-left: 40px;
}

.contact-list {
    list-style: none;
    text-align: left;
}